extends layout

block content
  h1= title
  p ES4 Officer Assignment Matrix

  #wrapper
    //user list
      h2 User List
        table
          thead
            th Name
            th Phone
            th Email
          tbody

