container_commands:
  01_fix_static_cors:
    command: "/tmp/fix_static_cors.sh"
files:
  "/tmp/fix_static_cors.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      TEMP_PROXY_PATH=$(/opt/elasticbeanstalk/bin/get-config container -k config_staging_dir)
      PROXY_CONF="#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
      echo "Updating the 00_elastic_beanstlak_proxy.conf with CORS Config"
      cat .ebextensions/00_elastic_beanstalk_proxy_update.conf > $TEMP_PROXY_PATH/$PROXY_CONF 
